:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body, html {
  padding: 0;
  margin: 0;
  color: #19181e;
  font-family: 'JetBrains Mono', monospace;
}

pre {
  font-family: 'JetBrains Mono', monospace;
}

a {
  text-decoration: none;
  color: #ffffff;;
}

a:hover {
  text-decoration: underline;
}
